# Python-specific
*.pyc
*.pyo
*.egg-info/
__pycache__/

# Location of built documentation
site/
# Where distributions are assembled
build/
# Working directory for distribution assembly
dist/dvr-scan/*
dist/dvr-scan-*
dist/dvr_scan-*

# Editors/environment
.DS_Store
.vs_code/
.vscode/
.venv/
