recursive-exclude .github *
recursive-exclude dist *
exclude *
include README.md
include LICENSE
include LICENSE-THIRDPARTY
include pyproject.toml
include setup.cfg
include dvr-scan.cfg
include dist/package-info.rst
