exclude *
include dist/package-info.rst
include dvr_scan/LICENSE
recursive-include dvr_scan/docs *
include dvr-scan.cfg
include dvr_scan/dvr-scan.ico
include dvr_scan/dvr-scan.png
include dvr_scan/dvr-scan-logo.png
include LICENSE
include pyproject.toml
include README.md
include setup.cfg
