recursive-exclude .github *
recursive-exclude dist *
recursive-exclude tests *
exclude *
include README.md
include LICENSE
include dvr_scan/LICENSE
include pyproject.toml
include setup.cfg
include dvr-scan.cfg
include dist/package-info.rst
