#
# DVR-Scan Python Requirements
#
opencv-python-headless<=4.2.0.32; python_version <= "3.5"
opencv-python-headless; python_version > "3.5"
opencv-contrib-python-headless<=4.2.0.32; python_version <= "3.5"
opencv-contrib-python-headless; python_version > "3.5"
numpy
tqdm
scenedetect
pytest
